<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<real>137.5</real>
		<integer>123</integer>
	</array>
	<array>
		<real>243.5</real>
		<integer>255</integer>
	</array>
	<array>
		<real>182.5</real>
		<integer>118</integer>
	</array>
	<array>
		<integer>152</integer>
		<integer>329</integer>
	</array>
	<array>
		<real>211.5</real>
		<integer>126</integer>
	</array>
	<array>
		<integer>243</integer>
		<real>356.5</real>
	</array>
	<array>
		<real>234.5</real>
		<real>151.5</real>
	</array>
	<array>
		<real>137.5</real>
		<integer>452</integer>
	</array>
	<array>
		<real>259.5</real>
		<integer>176</integer>
	</array>
	<array>
		<real>233.5</real>
		<integer>452</integer>
	</array>
	<array>
		<integer>134</integer>
		<integer>208</integer>
	</array>
	<array>
		<real>165.5</real>
		<integer>546</integer>
	</array>
</array>
</plist>
