<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<real>137.5</real>
		<integer>124</integer>
	</array>
	<array>
		<real>243.5</real>
		<integer>253</integer>
	</array>
	<array>
		<integer>184</integer>
		<integer>118</integer>
	</array>
	<array>
		<integer>152</integer>
		<integer>331</integer>
	</array>
	<array>
		<integer>212</integer>
		<integer>127</integer>
	</array>
	<array>
		<integer>243</integer>
		<real>356.5</real>
	</array>
	<array>
		<real>234.5</real>
		<integer>153</integer>
	</array>
	<array>
		<integer>139</integer>
		<integer>452</integer>
	</array>
	<array>
		<integer>260</integer>
		<integer>176</integer>
	</array>
	<array>
		<real>233.5</real>
		<integer>453</integer>
	</array>
	<array>
		<integer>135</integer>
		<integer>210</integer>
	</array>
	<array>
		<integer>166</integer>
		<real>545.5</real>
	</array>
</array>
</plist>
